.container {
  margin: 0 auto;

  min-height: calc(100vh - (1.5em + 4rem));

  max-width: 60rem;

  padding: 2rem;
}

.title {
  margin-bottom: 2rem;
}

.image {
  border-radius: 0.5rem;

  margin-bottom: 2rem;

  max-height: 45em;

  object-fit: cover;
}

.meta-container {
  display: flex;
  flex-wrap: wrap;

  gap: 2.5rem;
}

:local(section:not(:last-child)) {
  margin-bottom: 2rem;
}

.comment-list-title {
  margin-bottom: 2rem;
}

@media (min-width: 340px) {
  .container {
    padding: 3rem;

    min-height: calc(100vh - (1.5em + 6rem));
  }
}
