.button {
  background-color: #333;

  color: #f6f6f8;

  cursor: pointer;

  font-weight: 500;

  outline: none;

  padding: 1em;

  border: none;
}

.button:disabled {
  background-color: #222;

  color: #c2c2c2;
}
