.form-group {
  display: flex;
  flex-direction: column;

  gap: 1rem;

  font-weight: 500;

  margin-bottom: 2rem;
}

.form-input {
  padding: 1rem 2rem;

  resize: vertical;

  border: none;
  border-radius: 0.5rem;

  line-height: 1.5;

  outline: none;

  height: 6em;
}

:local(button) {
  border-radius: 0.5rem;
}

.error-message {
  color: rgba(245, 245, 245, 0.6);

  font-weight: initial;

  letter-spacing: 0.03em;

  line-height: 1.5;

  text-transform: uppercase;

  margin: 0;
}
