.container {
  padding: 2rem;

  background-color: #262828;
}

.title {
  margin-bottom: 2rem;
}

.section:not(:last-child) {
  margin-bottom: 2rem;
}

.section-title {
  margin-bottom: 1rem;
}

.menu-list {
  border-left: 0.5rem solid #fff;

  padding-left: 1rem;
}

.menu-item:not(:last-child) {
  margin-bottom: 1.5rem;
}

@media (min-width: 340px) {
  .container {
    padding: 3rem;
  }

  .title {
    margin-bottom: 3rem;
  }

  .section-title {
    margin-bottom: 2rem;
  }
}

@media (min-width: 540px) {
  .container {
    display: flex;

    flex-wrap: wrap;

    align-items: flex-end;
  }

  .title {
    width: 100%;
  }

  .section:not(:last-child) {
    margin: 0;
    margin-right: 5rem;
  }
}

@media (min-width: 1200px) {
  .container {
    margin: 0 auto;

    max-width: 120rem;
  }

  .menu-list {
    border: none;

    padding: 0;
  }
}

@media (min-width: 1500px) {
  .container {
    max-width: 150rem;
  }
}
