.container {
  display: flex;

  align-items: center;
}

.container:not(:last-child) {
  margin-bottom: 2rem;
}

.icon {
  height: 1em;

  margin-right: 1rem;

  width: auto;
}

.username {
  margin: 0;
}
