.container {
  min-height: calc(100vh - (1.5em + 4rem));

  padding: 2rem;
}

.list {
  display: grid;

  gap: 3rem;

  grid-template-columns: repeat(1, 1fr);

  margin-bottom: 3rem;
}

.actions {
  position: sticky;

  bottom: 0;

  display: flex;

  justify-content: space-between;
}

.actions > :local(button) {
  width: 100%;
}

.actions > :local(button:first-of-type) {
  border-top-left-radius: 0.5rem;
}

.actions > :local(button:last-of-type) {
  border-top-right-radius: 0.5rem;
}

@media (min-width: 340px) {
  .container {
    min-height: calc(100vh - (1.5em + 6rem));

    padding: 3rem;
  }
}

@media (min-width: 576px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .container {
    margin: 0 auto;

    max-width: 120rem;
  }

  .list {
    grid-template-columns: repeat(4, 1fr);
  }

  .actions {
    position: static;
  }

  .actions > :local(button):first-of-type {
    margin-right: 3rem;
  }
}

@media (min-width: 1500px) {
  .container {
    max-width: 150rem;
  }
}
