.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 2rem;
}

.item-list {
  background-color: #0e1111;

  height: calc(100% - (1.5em + 4rem));
  width: 100%;

  padding: 2rem;

  position: fixed;

  right: -150%;
  top: calc(1.5em + 4rem);

  transition: all 1.2s;
}

.item-list.show {
  right: 0;
}

.list-item {
  letter-spacing: 0.075em;

  text-transform: uppercase;
}

.list-item:not(:last-child):after {
  background-color: #262828;

  border-radius: 5rem;

  content: '';

  display: block;

  height: 0.1rem;
}

.list-item:not(:last-child) {
  margin-bottom: 2rem;
}

.list-item.user-data {
  position: absolute;

  padding-bottom: 2rem;

  bottom: 0;

  width: calc(100% - 4rem);
}

.user-content,
.list-link {
  display: block;

  padding: 1.5rem 0.75rem;
}

.user-name {
  display: flex;
  flex-direction: column;

  line-height: 1.5;
}

.auth-btn {
  background-color: #262828;

  border: none;
  border-radius: 0.5rem;

  color: #f6f6f8;

  margin-top: 2rem;

  padding: 1rem 2rem;
}

.icon {
  height: 1.5em;
}

@media (min-width: 340px) {
  .container {
    padding: 3rem;
  }

  .item-list {
    height: calc(100% - (1.5em + 6rem));

    padding: 3rem;

    top: calc(1.5em + 6rem);
  }

  .list-item.user-data {
    padding-bottom: 3rem;

    width: calc(100% - 6rem);
  }
}

@media (min-width: 1200px) {
  .container {
    justify-content: flex-start;

    margin: 0 auto;

    max-width: 120rem;
  }

  .title {
    margin-right: 3rem;

    width: max-content;
  }

  .item-list {
    background-color: transparent;

    display: flex;
    align-items: center;

    height: auto;
    width: 100%;

    padding: 0;

    position: static;

    transition: none;
    animation: none;
  }

  .list-item {
    font-size: 1em;
  }

  .list-item::after {
    display: none;
  }

  .list-item:not(:last-child) {
    margin: 0;
    margin-right: 2rem;
  }

  .user-content,
  .list-link {
    padding: 0;
  }

  .list-item.user-data {
    margin-left: auto;

    padding: 0;

    position: static;

    width: auto;
  }

  .user-content {
    display: flex;

    gap: 2rem;

    align-items: center;
  }

  .user-name {
    text-align: right;
  }

  .auth-btn {
    background-color: #0e1111;

    margin-top: 0;

    cursor: pointer;
  }

  .icon {
    display: none;
  }
}

@media (min-width: 1500px) {
  .container {
    max-width: 150rem;
  }
}
