.game-section {
  padding: 2rem;

  display: grid;
  grid-template-columns: 1fr;

  gap: 2rem;

  margin-bottom: 0 !important;
}

.game-section:last-of-type {
  padding-bottom: 5rem !important;
}

@media (min-width: 340px) {
  .game-section {
    padding: 3rem;
  }
}

@media (min-width: 768px) {
  .section-title {
    grid-column: 1 / span 2;
  }

  .game-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .section-title {
    grid-column: 1 / span 4;
  }

  .game-section {
    grid-template-columns: repeat(4, 1fr);

    margin: 0 auto;

    max-width: 120rem;
  }
}

@media (min-width: 1500px) {
  .game-section {
    max-width: 150rem;
  }
}
