.container {
  height: calc(100vh - (1.5em + 4rem));

  margin: 0 auto;

  max-width: 60rem;

  padding: 2rem;
}

.title {
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.input-group {
  display: flex;
  flex-direction: column;

  font-weight: 500;

  letter-spacing: 0.075em;

  text-transform: uppercase;

  gap: 1rem;

  margin-bottom: 2rem;
}

.input {
  border: none;
  border-radius: 0.3rem;

  line-height: 1.2;

  outline: none;

  padding: 1rem 1.5rem;
}

.form-btn {
  background-color: #262828;

  border: none;
  border-radius: 0.5rem;

  color: #f6f6f8;

  cursor: pointer;

  font-weight: 500;

  outline: none;

  padding: 1rem 0;

  transition: background-color 0.5s ease-in;
}

.form-btn:hover {
  background-color: #333;
}

.error-message,
.error-on-request {
  color: rgba(245, 245, 245, 0.6);

  font-weight: initial;

  letter-spacing: 0.03em;

  line-height: 1.5;

  text-transform: uppercase;

  margin: 0;
}

.error-on-request {
  margin-bottom: 1.5rem;
}

@media (min-width: 340px) {
  .container {
    height: calc(100vh - (1.5em + 6rem));

    padding: 3rem;
  }
}

@media (min-width: 768px) {
  .input {
    font-size: initial;
  }
}
