.container {
  min-height: calc(100vh - (1.5em + 4rem));

  margin: 0 auto;

  max-width: 60rem;

  padding: 2rem;
}

.title {
  margin-bottom: 2rem;
}

.input-group {
  display: flex;
  flex-direction: column;

  gap: 2rem;
}

.input {
  border: none;
  border-radius: 0.5rem;

  line-height: 1.5;

  padding: 1rem 2rem;

  outline: none;
}

:local(button) {
  margin-top: 2rem;
}

.game-list {
  margin-top: 3rem;

  display: grid;
  grid-template-columns: repeat(1, 1fr);

  gap: 3rem;
}

.search-title {
  grid-column: 1 / span 3;
}

@media (min-width: 340px) {
  .container {
    min-height: calc(100vh - (1.5em + 6rem));

    padding: 3rem;
  }
}

@media (min-width: 526px) {
  .game-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 728px) {
  .game-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
