.container {
  background: url('assets/hero.jpg') center no-repeat;
  background-size: cover;

  color: #0e1111;

  display: grid;

  gap: 1em;

  height: calc(100vh - (1.5em + 4rem));

  place-content: center;

  text-align: center;
}

.sub-title {
  margin: 0;
}

@media (min-width: 340px) {
  .container {
    height: calc(100vh - (1.5em + 6rem));
  }
}
